html{
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow: hidden;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

body{
	margin-top: 33vh;
}

#title-text{
	font-size: 36px;
	margin-bottom: 0px;
}

#timer{
	display: inline-block;
}

#timer-text{
	text-align: center;
	font-size: 64px;
	margin: auto;
}
